.header-conteiner{
    width: 1200px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid rgb(218, 217, 217);
    border-radius: 5px;
    background-color: #e8ddee;
}

.header-conteiner ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-conteiner li{
    list-style: none;
    margin: 5px;
}