
<div class="header-conteiner">
    <h1>I'm {{title}}</h1>
    <ul>
        <li><button mat-raised-button color="warn" (click)="openDialogCategory()">ADD CATEGORY</button></li>
        <li><button mat-raised-button color="warn" (click)="openDialogDish()">ADD DISH</button></li>
    </ul>
    <mat-form-field appearance="outline">
        <mat-label class="label-search">Search dish </mat-label>
        <input matInput (change)="searchDishes(searchValue)" [(ngModel)]="searchValue" />
    </mat-form-field>
</div>

<!-- <app-category-list (onClick)="getDishes($event)" [categories]="categories"></app-category-list> -->


