<app-category-list (onClick)="getDishes($event)"></app-category-list>

<div class="dishes-list-conteiner">
  <!-- <button routerLink='/all-dishes' mat-raised-button color="primary" (click)="ngOnInit()">
    All dishes
  </button> -->

  <h2>List of Dishes: {{ title }}</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Dish Info</th>
        <th>Price</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dish of dishes">
        <td>{{ dish.title }}</td>
        <td>{{ dish.discription }}</td>
        <td>${{ dish.price }}</td>
        <td><a mat-button (click)="openDialog(dish.id)">View details</a></td>
        <td><a mat-button (click)="deleteDish(dish.id)">DELETE</a></td>
      </tr>
    </tbody>
  </table>
</div>
