<div class="category-adding-modal-conteiner">
  <h1 mat-dialog-title>Add new Category</h1>
  <form [formGroup]="categoryForm">
    <div class="category-adding-modal-inputs">
      <mat-form-field appearance="fill">
        <mat-label>Category Name: </mat-label>
        <input matInput formControlName="title" pattern="^[a-zA-Z]{3,50}$" />
        <div *ngIf="!title.value">
          Please provide a category name.
        </div>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="warn"
        mat-dialog-close
        [disabled]="categoryForm.invalid"
        (click)="addCategory()"
      >
        Add New Category
      </button>
    </div>
  </form>
</div>
