<div class="dish-adding-modal-conteiner">
  <h1 mat-dialog-title>Add new dish</h1>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="dish.title" />
    <br />
    <label>Info: </label>
    <input [(ngModel)]="dish.discription" />
    <br />
    <label>Price: $ </label>
    <input [(ngModel)]="dish.price" />
    <br />
    <label>Category: </label>
    <select [(ngModel)]="dish.categoryId">
      <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
    </select>
    <br />
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="addDish()">
      Add New Dish
    </button>
  </div>
</div>
